<span class="px-3 pt-3 pb-3 mt-4">
  <%= form_for([@post, @comment], remote: true, class: "form-inline") do |f| %>
      <span class="input-group ml-3" style="max-width: 25%;">
        <%= f.text_field :body, class: "form-control form-control-sm" %>
     
      <%= f.submit 'Comment', class: "btn btn-success btn-sm ml-3" %>
    </span>
  <% end %>
  <!-- </span> -->
